.fix-reader-container {
  padding: 20px;
  align-content:safe;
  margin: 5%;
}

.fix-reader-title {
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
}

div {
  margin-bottom: 20px;
}

div label {
  margin-right: 10px;
}

.error-section {
  text-align: center;
  padding-bottom: 25px;
}

.error-section span {
  text-align: center;
  display: block;
  padding: 10px;
  border: 1px solid red;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}